.buttonTouch {
  height: 200px;
  width: 350px;
  border:3px solid white;
  background: transparent;
  color: white;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 10px;

  &:hover {
    cursor: pointer;
  }
}

.buttonTouchLarge {
  height: 200px;
  width: 750px;
  border:3px solid white;
  background: transparent;
  color: white;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 10px;

  &:hover {
    cursor: pointer;
  }
}